#all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: brown;
  height: 100vh;
}

#h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  background-color: black;
  border: 5px solid black;
  border-radius: 10px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(13deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-13deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(11deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(4deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15) 55%, rgba(255, 255, 255, 0.4));
  backdrop-filter: brightness(120%) blur(5px);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);

  background-color: transparent;
  border: none;
  border-radius: 99px;
  cursor: pointer;
  height: 60px;
  width: 210px;
  margin: 30px auto;
}

span {
  color: #000000;
  font-size: 15px;
  letter-spacing: 1.5rem;
  padding-left: 1.5rem;
}

button:hover {
  animation: rotate 0.7s ease-in-out both;
}

button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}